[Desktop Entry]
Version=1.0
Name=Xfce Terminal
Comment=Terminal Emulator
GenericName=Terminal Emulator
Exec=xfce4-terminal
Icon=utilities-terminal.png
Terminal=false
Type=Application
Categories=X-Utility-shell
StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/xfce4-terminal.desktop
