#!en

[Desktop Entry]
#s Launcher's name :
Name=F-Spot Photo Manager
#s Command to launch on click :
#{Exemple : nautilus --no-desktop, gedit, etc. You can even enter a keyboard shortcut, for exemple <Alt>F1, <Ctrl>c,  <Ctrl>v, etc}
Exec=f-spot
#S Image's name or path :
Icon=f-spot
#d Name of the container it belongs to:
#{If you write here a container's name that doesn't exist yet, a new one will be created, with this icon inside.}
Container=_MainDock_

#X[Extra parameters]
frame_extra=
#f[0;100] Order you want for this launcher among the others:
Order=1.0423227310180652
#b Prevent this launcher from stealing appli from taskbar ?
#{If you choosed to mix launcher and applis, this option will deactivate this behaviour for this launcher only. It can be useful for instance for a launcher that launches a script in a terminal, but you don't want it to steal the Terminal's icon from the Taskbar.} 
prevent inhibate=false

#K Class of the program :
#{The only reason you may want to modify this parameter is if you made this launcher by hands. If you dropped it into the dock from the menu, it is nearly sure that you shouldn't touch it. It defines the class of the program, which is useful to link the appli with its launcher.}
StartupWMClass=

#b Run in a terminal ?
#{It will use 'xterm'.}
Terminal=false

#i-[0;16] Only show in this specific viewport
#{If '0' the launcher will be displayed on every viewport.}
ShowOnViewport=0

Is container=false

Renderer=

Base URI=
Is mounting point=false

Version=1.0
Encoding=UTF-8
Name[ca]=Gestor fotogràfic F-Spot
Name[cs]=Správce fotografií F-Spot
Name[da]=F-Spot - fotohåndtering
Name[de]=F-Spot Fotoverwaltung
Name[dz]=ཨེཕ་-ཨིསི་པོཊི་ དཔར་འཛིན་སྐྱོང་པ་
Name[en_CA]=F-Spot Photo Manager
Name[en_GB]=F-Spot Photo Manager
Name[es]=Gestor de fotos F-Spot
Name[eu]=F-Spot argazki-kudeatzailea
Name[fa]=مدیر عکس اِف‌-اِسپات
Name[fi]=F-Spot valokuvien hallintaohjelma
Name[fr]=Gestionnaire de photos F-Spot
Name[gl]=Xestor de fotos F-Spot
Name[hu]=F-Spot fotókezelő
Name[it]=F-Spot - Gestore di fotografie
Name[lt]=Fotografijų tvarkymo programa F-Spot
Name[lv]=F-Spot bilžu menedžeris
Name[mk]=F-Spot Менаџер за слики
Name[nb]=F-Spot bildebehandling
Name[nl]=F-Spot fotobeheer
Name[pa]=F-ਸਪੋਟ ਫੋਟੋ ਮੈਨੇਜਰ
Name[pl]=Menedżer zdjęć F-Spot
Name[pt]=Gestor de Fotografias do F-Spot
Name[pt_BR]=Gerenciador de Fotos F-Spot
Name[ru]=Управление фотографиями в F-Spot
Name[sv]=Fotohanteraren F-Spot
Name[th]=F-Spot: โปรแกรมจัดการรูปถ่าย
Name[vi]=Bộ Quản Lý Ảnh Chụp F-Spot
Name[zh_CN]=F-Spot 照片管理器
GenericName=Photo Manager
GenericName[ca]=Gestor fotogràfic
GenericName[cs]=Správce fotografií
GenericName[da]=Fotohåndtering
GenericName[de]=Fotoverwaltung
GenericName[dz]=དཔར་འཛིན་སྐྱོང་པ་
GenericName[en_CA]=Photo Manager
GenericName[en_GB]=Photo Manager
GenericName[es]=Gestor de fotografías
GenericName[eu]=Argazki-kudeatzailea
GenericName[fa]=مدیر عکس
GenericName[fi]=Valokuvien hallinta
GenericName[fr]=Gestionnaire de photos
GenericName[gl]=Xestor de fotos
GenericName[hu]=Fényképkezelő
GenericName[it]=Gestore di fotografie
GenericName[lt]=Fotografijų tvarkymo programa
GenericName[lv]=Bilžu menedžeris
GenericName[mk]=Менаџер за слики
GenericName[nb]=Fotobehandler
GenericName[nl]=Fotobeheer
GenericName[pa]=ਫੋਟੋ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer zdjęć
GenericName[pt]=Gestor de Fotografias
GenericName[pt_BR]=Gerenciador de Fotos
GenericName[ru]=Управление фотографиями
GenericName[sv]=Fotohanterare
GenericName[th]=โปรแกรมจัดการรูปถ่าย
GenericName[vi]=Bộ Quản Lý Ảnh Chụp
GenericName[zh_CN]=照片管理器
Comment=Organize, enjoy, and share your photos
Comment[ar]=نظم, تمتع, وقم بمشاركة الصور
Comment[ca]=Organitzeu, gaudiu i compartiu fotografies
Comment[cs]=Organizovat, prohlížet a sdílet vaše fotografie
Comment[da]=Organisér, nyd og del dine fotos
Comment[de]=Fotos anschauen, sortieren und weitergeben
Comment[dz]=ཁྱོད་ཀྱི་དཔར་ཚུ་ འགོ་འདྲེན་འཐབ་ སྤྲོ་བ་སྟོན་ དེ་ལས་ རུབ་སྤྱོད་འབད་
Comment[el]=Οργανώστε απολαύστε και μοιραστείτε τις φωτογραφίες σας
Comment[en_CA]=Organize, enjoy, and share your photos
Comment[en_GB]=Organise, enjoy, and share your photos
Comment[es]=Organice, diviértase y comparta sus fotografías
Comment[eu]=Antolatu, ikusi eta partekatu zure argazkiak
Comment[fa]=عکس‌های خود را سازمان‌دهی کنید، از آنها لذت ببرید،  و با دیگران قسمت کنید 
Comment[fi]=Järjestele ja jaa valokuviasi
Comment[fr]=Organisez, partagez et profitez de vos photos
Comment[gl]=Organice, divírtase e comparta as súas fotografías
Comment[hu]=Fényképek rendszerezése, megjelenítése és megosztása
Comment[it]=Organizzare, gustarsi e condividere le proprie fotografie
Comment[lt]=Tvarkyti, dalintis ir mėgautis fotografijomis
Comment[lv]=Sarīkojoiet, baudiet un dalaties ar savām bildem
Comment[mk]=Организирајте ги, споделете ги и уживајте во Вашите слики
Comment[nb]=Organiser, verdsett og del bildene dine
Comment[nl]=Beheer, deel en geniet van uw foto's
Comment[pa]=ਆਪਣੀਆਂ ਫੋਟੋ ਵੇਖੋ, ਸਾਂਝੀਆਂ ਕਰੋ
Comment[pl]=Organizuj i dziel się swoimi zdjęciami
Comment[pt]=Organize, divirta-se e partilhe as suas fotos
Comment[pt_BR]=Organize, compartilhe e divirta-se com suas fotos
Comment[ru]=Организация, просмотр и передача фотографий
Comment[sv]=Organisera, njut av, och dela med dig av dina foton
Comment[vi]=Tổ chức, thích thú và chia ra các ảnh chụp của bạn
Comment[zh_CN]=组织、欣赏及共享您的照片
StartupNotify=true
Type=Application
Categories=Graphics;Photography;GNOME;GTK;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=f-spot
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=0.4.0
X-GNOME-DocPath=f-spot/f-spot.xml
X-SuSE-translate=true
Is URI=false
