#!fr

[Desktop Entry]
#s Nom de ce lanceur :
Name=Pidgin Internet Messenger
#s Commande à exécuter lors du clique :
Exec=pidgin
#S Nom ou chemin de l'image :
Icon=pidgin
#f Ordre que vous souhaitez affecter à ce lanceur parmis les autres :
Order=0.91408538818359375
#E[_MainDock_]  Nom du container auquel il appartient :
Container=_MainDock_
#b Cette icône est-elle un container ?
Is container=false
#R[Caroussel;/usr/share/cairo-dock/plug-in/rendering/readme-caroussel-view;3D plane;/usr/share/cairo-dock/plug-in/rendering/readme-3D-plane-view;default;/usr/share/cairo-dock/readme-basic-view]  Si oui, nom de la vue à utiliser pour son sous-dock :/
Renderer=Caroussel

Base URI=
Is mounting point=false
Encoding=UTF-8
Name[af]=Pidgin Internetboodskapper
Name[ar]=مرسال الإنترنت بِدْجِن
Name[be@latin]=Internet-kamunikatar Pidgin
Name[ca]=Missatger d'Internet Pidgin
Name[ca@valencia]=Missatger d'Internet Pidgin
Name[cs]=Pidgin Internet Messenger
Name[de]=Pidgin Internet-Sofortnachrichtendienst
Name[el]=Αποστολέας μηνυμάτων διαδικτύου Pidgin
Name[en_GB]=Pidgin Internet Messenger
Name[eo]=Piĝin Interreta Mesaĝilo
Name[es]=Cliente de mensajería de Internet Pidgin
Name[et]=Pidgin, Interneti sõnumivahetus
Name[fa]=پیغام‌رسان اینترنتی پیجین
Name[fi]=Pidgin-pikaviestin
Name[fr]=Messagerie internet Pidgin
Name[gl]=Mensaxería na Internet de Pidgin
Name[he]=פידג'ין למסרים באינטרנט
Name[hu]=Pidgin üzenetküldő
Name[it]=Pidgin Internet Messenger
Name[ja]=Pidgin インターネット・メッセンジャー
Name[lt]=Pidgin pokalbiai internete
Name[mk]=Pidgin инстант пораки
Name[nn]=Pidgin Internett meldingsklient
Name[pa]=ਪਿਡਗਿਨ ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
Name[pl]=Komunikator Internetowy Pidgin
Name[pt_BR]=Mensageiro da Internet Pidgin
Name[ro]=Mesagerul Pidgin
Name[ru]=Клиент обмена мгновенными сообщениями Pidgin
Name[sk]=Internetový komunikátor Pidgin
Name[sl]=Spletni sel Pidgin
Name[sr]=Пиџин Интернет писмоноша
Name[sr@latin]=Pidžin Internet pismonoša
Name[sv]=Pidgin Meddelandeklient
Name[tr]=Pidgin İnternet Mesajlaşma Aracı
Name[zh_CN]=Pidgin 互联网通讯程序
Name[zh_HK]=Pidgin 網絡即時通
Name[zh_TW]=Pidgin 網路即時通
GenericName=Internet Messenger
GenericName[af]=Internetboodskapper
GenericName[ar]=مرسال إنترنت
GenericName[be@latin]=Internet-kamunikatar
GenericName[bg]=Бързи съобщения
GenericName[bn]=ইন্টারনেট তাৎক্ষণিক বার্তাব্যবস্থা
GenericName[ca]=Missatger d'Internet
GenericName[ca@valencia]=Missatger d'Internet
GenericName[cs]=Internet Messenger
GenericName[da]=Internet beskeder
GenericName[de]=Internet-Sofortnachrichtendienst
GenericName[dz]=ཨིན་ཊར་ནེཊི་འཕྲིན་སྐྱེལ་པ།
GenericName[el]=Αποστολέας μηνυμάτων διαδικτύου
GenericName[en_GB]=Internet Messenger
GenericName[eo]=Interreta Mesaĝilo
GenericName[es]=Cliente de mensajería de Internet
GenericName[et]=Interneti sõnumivahetus
GenericName[eu]=Interneteko mezularitza
GenericName[fa]=پیغام‌رسان اینترنتی
GenericName[fi]=Pikaviestin
GenericName[fr]=Messagerie internet
GenericName[gl]=Mensaxería na Internet
GenericName[he]=למסרים באינטרנט
GenericName[hu]=Azonnali üzenetküldés
GenericName[id]=Pengirim Pesan Internet
GenericName[it]=Internet Messenger
GenericName[ja]=インターネット・メッセンジャー
GenericName[kn]=ಇಂಟರ್ನೆಟ್ ಮೆಸ್ಸೆಂಜರ್ 
GenericName[ko]=인터넷 메신저
GenericName[ku]=Peyamnêra înternetê
GenericName[lt]=Pokalbiai internete
GenericName[mk]=Инстант пораки
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Expresberichten
GenericName[nn]=Lynmeldingsklient
GenericName[pa]=ਇੰਟਰਨੈਟ ਮੈਸੰਜ਼ਰ
GenericName[pl]=Komunikator Internetowy
GenericName[ps]=د انترنت زری
GenericName[pt]=Mensageiro Internet
GenericName[pt_BR]=Mensageiro da Internet
GenericName[ro]=Mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[sk]=Internetový komunikátor
GenericName[sl]=Spletni sel
GenericName[sq]=Lajmësjellës Internet
GenericName[sr]=Интернет писмоноша
GenericName[sr@latin]=Internet pismonoša
GenericName[sv]=Meddelandeklient
GenericName[ta]=இணையதள தூதுவர்
GenericName[th]=โปรแกรมข้อความด่วน
GenericName[tr]=İnternet Mesajlaşma Aracı
GenericName[zh_CN]=互联网通讯程序
GenericName[zh_HK]=網絡即時通
GenericName[zh_TW]=網路即時通
Comment=Send instant messages over multiple protocols
Comment[af]=Stuur kitsboodskappe oor veelvoudige protokolle
Comment[ar]=أرسل رسائل فورية عبر بروتوكولات متعددة
Comment[be@latin]=Dasyłaj chutkija paviedamleńni praz raznastajnyja pratakoły
Comment[ca]=Envieu missatges instantanis en múltiples protocols
Comment[ca@valencia]=Envieu missatges instantanis en múltiples protocols
Comment[cs]=Posílat instant message různými protokoly
Comment[da]=Send kvik-beskeder over flere protokoller
Comment[de]=Sendet Sofortnachrichten über mehrere Protokolle
Comment[dz]=གནད་སྤེལ་ལམ་ལུགས་སྣ་མང་གུ་ལུ་ འཕྲལ་མྱུར་འཕྲིན་དོན་ཚུ་གཏང་།
Comment[el]=Αποστολή άμεσων μηνυμάτων με τη χρήση πολλαπλών πρωτοκόλλων
Comment[en_GB]=Send instant messages over multiple protocols
Comment[eo]=Sendu tujmesaĝojn per pluraj protokoloj
Comment[es]=Cliente de mensajería instantánea multiprotocolo
Comment[et]=Välksõnumite saatmine mitmete protokollide kaudu
Comment[eu]=Bidali berehalako mezuak hainbat protokoloetan
Comment[fa]=ارسال پیغام اینترنتی با قراردادهای متعدد
Comment[fi]=Lähetä pikaviestejä monilla eri yhteyskäytännöillä
Comment[fr]=Envoie des messages instantanés en utilisant divers protocoles
Comment[gl]=Envía mensaxes instantáneas a través de múltiples protocolos
Comment[he]=מאפשרת לשלוח הודעות מיידיות דרך מספר רב של פרוטוקולים
Comment[hu]=Azonnali üzenetek küldése több protokoll használatával
Comment[id]=Kirim pesan-pesan instan memalui banyak protokol
Comment[it]=Client multiprotocollo per messaggi immediati
Comment[ja]=複数のプロトコルを介してインスタント・メッセージを送信します
Comment[kn]=ತ್ವರಿತ ಸಂದೇಶಗಳನ್ನು ಹಲವಾರು ಪ್ರೋಟೋಕಾಲುಗಳ ಮುಖಾಂತರ ಕಳುಹಿಸಿ
Comment[ko]=복수의 프로토콜을 이용하여 인터넷 메시지를 보냅니다.
Comment[ku]=Ji ser protokolên cuda peyamên demdemî bişîne
Comment[lt]=Bendrauti keliais interneto pokalbių protokolais
Comment[mk]=Испраќајте инстант пораки преку повеќе протоколи
Comment[nb]=Send lynmeldinger over flere protokoller
Comment[nl]=Multi-protocol programma voor expresberichten
Comment[nn]=Send lynmeldingar over fleire protokollar
Comment[pl]=Komunikator internetowy obsługujący kilka protokołów
Comment[ps]=متعدد پروتوكول باندې فوري زيری استوۍ
Comment[pt]=Envie mensagens instantâneas sobre vários protocolos
Comment[pt_BR]=Envie mensagens instantâneas através de múltiplos protocolos
Comment[ro]=Trimiteţi mesaje instant prin orice protocol IM
Comment[ru]=Обмен мгновенными сообщениями с использованием множества протоколов
Comment[sk]=Program na odosielanie okamžitých správ, ktorý podporuje viacero protokolov
Comment[sl]=Pošlji neposredna sporočila prek več protokolov
Comment[sq]=Dërgoni mesazhe të atypëratyshëm protokollesh të ndryshëm
Comment[sr]=Шаљите брзе поруке преко више протокола
Comment[sr@latin]=Šaljite brze poruke preko više protokola
Comment[sv]=Sänder snabbmeddelanden över multipla protokoll
Comment[ta]=செய்திகளை உடனுக்குடன் பல்வித நெறிமுறைகளில் அனுப்புக
Comment[th]=ส่งข้อความด่วนหลายรูปแบบ
Comment[tr]=Bir çok protokol üzerinden anılık ileti gönderin
Comment[zh_CN]=通过多种协议发送即时消息
Comment[zh_HK]=透過多種通訊協定發送即時訊息
Comment[zh_TW]=透過多種通訊協定發送即時訊息
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
Is URI=false
