[Desktop Entry]
Name=Home
Comment=Browse your home directory
GenericName=File Manager
Exec=thunar %F
Icon=home
Terminal=false
StartupNotify=true
Type=Application
Categories=FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
Path=
