[Desktop Entry]
Exec=firefox
Icon=firefox48.png
Type=Application
Categories=X-Internet-browser
Name=Firefox
GenericName=Web Browser
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
X-KDE-StartupNotify=true
X-XFCE-Source=file:///usr/share/applications/mozilla-firefox.desktop
