[Desktop Entry]
Name=Filesystem 
Comment=Browse the filesystem 
GenericName=File Manager
Exec=thunar %F
Icon=file-manager_
Terminal=false
StartupNotify=true
Type=Application
Categories=FileManager;
X-XFCE-Source=file:///usr/share/applications/Thunar.desktop
Path=/
